.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding: 1rem;
	height: 100px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	height: 150px;
	margin-right: 1rem;
	filter: invert(1);
}

.title h1 {
	font-size: 3rem;
	color: whitesmoke;
	font-weight: bold;
	margin: 0;
}

.title p {
	margin: 0;
	font-size: 1.2rem;
	color: #666;
}

.userInfo {
	display: flex;
	align-items: center;
}

.userName {
	color: #fff;
	font-size: 1.2rem;
	margin-right: 1rem;
}

.userImage img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 1rem;
	object-fit: cover;
}

.logout {
	background-color: red;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	cursor: pointer;
  }
  .logout:hover{
	background-color: rgb(158, 12, 12)!important;
  }