.header {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100px;
	background-color: black;
	background-size: cover;
	background-position: center center;
  }
  
  .header img {
	width: 170px;
	filter: invert(100%);
  }
  
  
  .header img:hover {
	transform: scale(1.1);
  }
  