.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 50px;
	background-color: #1f1f1f;
  }
  
  .navbar a {
	padding: 0 20px;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
  }
  
  .navbar a:hover {
	color: #bada55;
  }
  